@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Proza Libre, system-ui, sans-serif;
  }
}

::selection {
  background-color: rgba(0, 0, 0, 0.114); /* Change to any color you desire */
  cursor: text; /* Change cursor appearance to a text selection cursor */
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #B77729;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer utilities {
  .link-style {
    @apply 
    hover:underline 
    transition-all 
    decoration-darkgrey 
    underline-offset-2 
    text-darkgrey 
    text-lg;
  }
  
  .link-style-desktop {
    @apply
    hover:underline 
    transition-all
    decoration-darkgrey
    underline-offset-2
  }

  .link-style-contact-input{
    @apply
    w-full 
    p-2 
    border 
    bg-transparent 
    border-plate-white 
    placeholder:text-plate-greyish 
    placeholder:font-light 
    focus:outline-none 
  }
  
}

.link-active {
  text-decoration: underline;
}

